.checkbox {
  input {
    position: fixed;
    top: -1000px;
    opacity: 0;
  }

  label {
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      border-radius: 4px;
      width: 20px;
      height: 20px;
    }

    &:before {
      border: 1px solid $border;
    }
  }
}

.checkbox__check {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $primary;
  background-color: $primary;
  color: #fff;
  transition: all 0.3s;
}

.checkbox input:checked {
  & ~ label .checkbox__check {
    opacity: 1;
  }
}
